<h1 class="title">Change Password</h1>

<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
  <div class="field">
    <label class="label">Current Password</label>

    <p class="control has-icons-left">
      <input
        class="input"
        type="password"
        placeholder="Old Password"
        name="oldPassword"
        formControlName="oldPassword"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <label class="label">New Password</label>

    <p class="control has-icons-left">
      <input
        class="input"
        type="password"
        placeholder="New Password"
        name="newPassword"
        formControlName="newPassword"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <label class="label">Confirm New Password</label>

    <p class="control has-icons-left">
      <input
        class="input"
        type="password"
        placeholder="Password"
        name="confirmNewPassword"
        formControlName="confirmNewPassword"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-link"
        [disabled]="changePasswordForm.invalid"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</form>
