<section class="main-content columns is-fullheight">
  <aside class="column is-3 is-narrow-mobile is-fullheight section">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
      <li>
        <a role="button" class="" (click)="getSavedItemData()">
          <span class="icon"><i class="fa fa-heart"></i></span> Saved
        </a>
      </li>

      <li>
        <a role="button" class="" (click)="showFavourites()">
          <span class="icon"><i class="fa fa-star"></i></span>
          Favourites
          <span class="icon is-small"><i class="fas fa-angle-down"></i></span>
        </a>

        <ul *ngIf="showFavouritesList">
          <li *ngFor="let item of savedSearchItems">
            <a role="button" (click)="getSavedSearchData(item)">
              <span class="icon is-small"><i class="fa fa-link"></i></span>
              {{ item[0].toUpperCase() + item.slice(1) }}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a role="button" [routerLink]="['/settings']">
          <span class="icon"><i class="fa fa-cog"></i></span> Settings
        </a>
      </li>
    </ul>
  </aside>

  <div class="container news-list">
    <h2 class="title">{{ title }}</h2>

    <div *ngIf="dataLoaded" class="columns is-multiline">
      <div
        *ngFor="let item of currentDataSet"
        class="column is-half-desktop is-full-tablet"
      >
        <app-article-card
          [title]="item.title"
          [source]="item.source.name"
          [description]="item.description"
          [url]="item.url"
          [imageUrl]="item.urlToImage || item.imageUrl"
          [date]="item.publishedAt || item.dateString"
          [authenticated]="isAuthenticated"
          [isSavedItem]="isSavedItem"
          [id]="item._id"
        >
        </app-article-card>
      </div>
    </div>
  </div>
</section>
